# DISCORD BOT TOKEN
TOKEN=YOURBOTTOKENHERE
# BOT APPLICATION ID
CLIENTID=YOURBOTAPPLICATIONID
# DEPLOYMENT SERVER
GUILDID=YOURSERVERIDHERE

# DATABASE CREDENTIALS
DATABASE=DATABASENAME
DBUSER=USERNAME
DBPASS=PASSWORD
PORT=5432