# DISCORD BOT TOKEN
TOKEN=YOURBOTTOKENHERE
# BOT APPLICATION ID
CLIENTID=YOURBOTAPPLICATIONID
# DEPLOYMENT SERVER
GUILDID=YOURSERVERIDHERE

# DATABASE CREDENTIALS (DBHOST=db if using Docker, otherwise DBHOST=localhost)
DBHOST=db
DATABASE=DATABASENAME
DBUSER=USERNAME
DBPASS=PASSWORD